#define SECRET_WIFI_PASSWORD "Password" // No more than 10 characters.
#define SECRET_API_ENDPOINT "Endpoint Here"
#define SECRET_API_KEY "API Key Here"

const char _valueLabel[3][17] = {
  "Title 1",
  "Title 2",
  "Title 3"
};

const char _valueSelectionSummary[3][2][17] = {
  { "A description", "for title 1" },
  { "A description", "for title 2" },
  { "A description", "for title 3" }
};
